/*div*/
div.wrapper {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

div.navigation {
    text-align: center;
}

div.col-md-6 {
    width: 25%;
}

div.col-md-12 {
    width: 62.5%;
}

div.col-md-6.btn.btn-default {
    width: 150px;
    right: -30%;
}
/*/div*/

td.buttons-tight > a {
    display: inline-block;
}

th.action-buttons {
    width: 205px;
}

.align-right {
    right: 0;
    position: absolute !important;
}

.single__title {
    margin-top: 0;
    font-size: 34px;
    line-height: 1.2;
    margin-bottom: 20px
}

.single_excerpt {
    font-size: 18px;
    margin-bottom: 20px;
}

.post-content {
    font-size: 16px;
}

.bar {
    height: 18px;
    background: green;
}


