/*div*/
div.wrapper {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

div.navigation {
    text-align: center;
}

div.col-md-6 {
    width: 25%;
}

div.col-md-12 {
    width: 62.5%;
}

div.col-md-6.btn.btn-default {
    width: 150px;
    left: 85%;
}

div.flash-notice {
    position: absolute;
    top: 50px;
    width: 100%;
    text-align: center;
    height: 70px;
    line-height: 70px;
}

div.flash-notice  p {
    width: 100%;
    margin: 0;
    background: #76cefe;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*/div*/

td.buttons-tight > a {
    display: inline-block;
}

th.action-buttons {
    width: 205px;
}

.align-right {
    right: 0;
    position: absolute !important;
}

.single__title {
    margin-top: 0;
    font-size: 34px;
    line-height: 1.2;
    margin-bottom: 20px
}

.single_excerpt {
    font-size: 18px;
    margin-bottom: 20px;
}

.post-content {
    font-size: 16px;
}

.bar {
    height: 18px;
    background: green;
}

div.wrapper progress {
    /* Positioning */
    position: fixed;
    left: 0;
    top: 50px;

    /* Dimensions */
    width: 100%;
    height: 5px;

    /* Reset the appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    /* Get rid of the default border in Firefox/Opera. */
    border: none;

    /* Progress bar container for Firefox/IE10+ */
    background-color: transparent;

    /* Progress bar value for IE10+ */
    color: #fb3;
}

div.wrapper progress::-webkit-progress-bar {
    background-color: transparent;
}

div.wrapper progress::-webkit-progress-value {
    background-color: #fb3;
}

div.wrapper progress::-moz-progress-bar {
    background-color: #fb3;
}

